@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.navbar {
    background-color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4c94f9;
    /* Change this to your desired text color */
    position: relative;
    transition: color 0.3s ease;
    /* Adding transition for color change */
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #4c94f9;
    /* Change this to your desired underline color */
    position: absolute;
    bottom: -3px;
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease;
    /* Adding transition for width and left changes */
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}



.title {
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2px;
    color: white;
}

@media (max-width:991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}