main {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #1A253A;
    margin-top: 60px;
    background-image: url(./images/bannersm.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}