body {
    background-color: white;
    min-width: 350px;
}

/* 
.hero-section {
    background-color: #1C243C;
    background-image: url('./images/andrew-ng.png'), url('./images/solar-pattern.png');
    background-size: 120vh, cover;
    background-position: 50vw, center;
    background-repeat: no-repeat;
    height: 100vh;
} */

.hero-section {
    /* background-color: rgb(231, 167, 3); */
    background-image: url('./images/woman-working-illustration.png');
    background-size: 90vh;
    background-position: right;
    background-repeat: no-repeat;

}

.hero-text {
    padding: 20vh;
    color: black;

}

.hero-text h1 {
    font-size: 4rem;

}

/* button1 css */
.btn1 {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin-right: 2vw;
}

.btn1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn1::after {
    background-color: #fff;
}

.btn1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

/* button2 css */
.btn2 {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: white;
    background-color: #4c94f9;
}

.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.btn2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn2::after {
    background-color: #4c94f9;
}

.btn2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}



/* waves */

body {
    margin: 0;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {
    font-family: "Lato", sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg,
            rgba(84, 58, 183, 1) 0%,
            rgba(0, 172, 193, 1) 100%);
    color: white;
}

.logo {
    width: 50px;
    fill: white;
    padding-right: 15px;
    display: inline-block;
    vertical-align: middle;
}

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}


.about {
    font-weight: bold;
    font-size: 4vh;
    width: 320px ;
    max-width:320px
}


/* about card */

.intro-section {
    /* background: rgba(0, 0, 255, .05); */
    /* background: rgba(0, 255, 255, .05); */
    /* backdrop-filter: blur(10px); */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* golden line button */
.gold-line-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    /* Set the text color */
}

.gold-line-button::after {
    content: '\2192';
    /* Unicode character for right arrow */
    position: absolute;
    right: -10px;
    /* Adjust as needed to control the spacing between text and arrow */
    top: 50%;
    transform: translateY(-50%);
    color: #ffd700;
    /* Set the arrow color to gold */
    font-size: 4vh;
}

.gold-line-button:hover {
    border-bottom: 2px solid #ffd700;
    /* Add the gold line on hover */
}

/* Rounded border */
hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}

/* counter section */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather');

@import url('https://fonts.googleapis.com/css2?family=Poppins'); */

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

 */

/* body {
    font-family: 'Merriweather', serif;
    min-height: 100vh;
} */

.counter-wrapper {
    background: url(/images/19742.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    padding: 6rem 8%;
    margin-top: 1rem;
    position: relative;
    align-items: center;
    justify-items: center;
}

.counter-wrapper::before {
    position: absolute;
    content: '';
    content: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.04);
    z-index: 1;
}

.counter {
    text-align: center;
    color: #000000;
    z-index: 2;
    position: relative;
}

.counter::before {
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: .2rem;
    background: #4DB7FE;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.counter .count {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.counter p {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 768px) {
    .counter-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 8rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .counter-wrapper {
        grid-template-columns: 1fr;
    }
}

.counter-wrapper .img {
    display: flex;
    position: absolute;
    z-index: -2;
    opacity: .7;
}

/* the 3 circles in the counter section */
/* .circle {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    filter: blur(60px);
    padding-top: 60vh;
}

.circlebg {
    display: flex;
    position: absolute;
    z-index: -2;
    opacity: .7;
}

.circle-yellow {
    background-color: #ffd700;
  
    transform: translateX(10%);
}


.circle-red {
    background: red;
    transform: translateX(230%);
}

.circle-blue {
    background-color: blue;
    transform: translateX(150%);
}

.circle-green {
    background-color: green;
    transform: translateX(190%);
}

.circle-yellow {
    background-color: yellow;
    transform: translateX(80%);
} */

/* the moving image effect in the background */
/* .cta {
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url(./images/cta-bg.jpg) fixed center center;
    background-image: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.9)), url(../images/cta-bg.jpg);
    background-position-x: initial, center;
    background-position-y: initial, center;
    background-size: initial, initial;
    background-repeat: initial, initial;
    background-attachment: initial, fixed;
    background-origin: initial, initial;
    background-clip: initial, initial;
    background-color: initial;
    background-size: cover;
    padding: 60px 0;
} */


@media screen and (min-width: 991px) {

    /* Adjust the max-width as needed for your design */
    .about {
        width: 700px;
        max-width: 2500px;
            /* Adjust the font size as per your requirement */
    }
}